<h1>Pantalla index</h1>
{{!-- {{x-men}} --}}
<p>
	{{input value=newTaskText}}
	<button {{action 'createTask' newTaskText}}>Create task</button>
</p>
<ul>
	{{#each model as |task|}}
		{{task-item task=task cnt=this}}
	{{/each}}
</ul>



